.font-family {
    font-family: 'Inter';
    font-style: normal;
}
/* Header */
header {
    width: 1336px;
    margin: 80px auto 48px auto;
    text-align: center;
}
.h6-item {
    color: #282828;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 4px;
}
.header-headline {
    color: #282828;
    font-weight: 600;
    font-size: 54px;
    line-height: 62px;
    letter-spacing: -1px;
    margin-bottom: 16px;
}
.header-p-item {
    color: #5F6980;
    width: 760px;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    margin: 0 auto;
}
/* Main Section */
.container {
    width: 1336px;
    height: 908px;
    margin: 0 auto 48px auto;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}
.wrapper {
    background-color: #FFFFFF;
    border: 1px solid #EAECF0;
    width: 312px;
    height: 430px;
}
.name {
    color: #282828;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    margin: 16px 0 0 16px;
}
.occupation {
    color: #3E3E59;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 4px 0 8px 16px;
}
.description {
    color: #5F6980;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 24px 16px;
}
.icon-container {
    display: flex;
    width: 140px;
    height: 36px;
    margin: 0 0 16px 16px;
    justify-content: space-between;
}
.icon {
    background-color: #F2F4F7;
    width: 36px;
    height: 36px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer */
.footer-container {
    background-color: rgba(83, 83, 83, 0.33);
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.bottom-block {
    width: 1306px;
    margin: 108px auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.left-side-block {
    width: 318.05px;
}
.left-block-text {
    color: #535353;
    width: 306.05px;
    height: 73px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 32px 0 30px 0;
}
.icons-block {
    width: 104px;
    display: flex;
    justify-content: space-between;
}
.middle-block {
    width: 136px;
}
.middle-block-title {
    color: #1E1E1E;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 71px;
}
.li-item {
    color: #535353;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.active {
    margin: 15px 0 15px 0;
}
.service-block {
    width: 199px;
}
.block-title {
    color: #1E1E1E;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 71px;
}
.block-li-item {
    color: #535353;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
.languages {
    width: 107px;
}
.div-title {
    color: #1E1E1E;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 58.45px;
}
.english-button {
    background-color: #054A68;
    color: #FFFFFF;
    width: 80px;
    height: 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 14px 16px;
}